*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}

body {
  color: #e4d9cd;
  background: #ffcc99;
}
/* 

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Not reuqired */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Center container in viewport */
.container {
  margin: 0 auto;
  width: 960px;
}

h1,
h2,
h3 {
  font-size: 24px;
  text-align: center;
  padding: 12px 0;
}

h1 {
  color: black;
}

h3 {
  font-size: 20px;
  text-align: left;
}

/* Style page navigation */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 13px;
  box-sizing: border-box;
  justify-content: center;
}

/* nav li {
  width: calc((100% / 3) - (1em * 2 / 3));

  display: block;
  text-align: center;
  background: orange;
  padding: 0.5em;
  margin-right: 1em;
}

nav li:nth-child(3) {
  margin-right: 0;
} */

nav li {
  font-size: 20px;
  background-color: #cc6600;
  border: 2px dashed #663300;
  margin: 0 0 26px 0;
  width: 311.3333435058594px;
  /* width: calc(100% / 3);/ */
  text-align: center;
  padding: 6px 0;
}

nav a, nav a:active, a:visited {
  color: #e4d9cd;
  text-decoration: none;
}

h1 {
  font-weight: bold;
  color: #663300;
  margin: 0;
}

section {
  background: #999966;
  border: 2px dashed #663300;
  margin: 0 0 26px 0;
  padding: 26px;
}

section h2,
section h3 {
  background: #cc6600;

  margin: 0 0 26px 0;
}

section h2 {
  border: 2px dashed #663300;
  margin-bottom: 0px;
}
section h3 {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}

section div {
  background: #cc6600;
  /* border: 2px dashed #663300; */
  /* margin: 0 0 26px 0; */
}

img {
  width: 411px;
}

.section-one {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #999966;
  gap: 26px;
  padding: 26px 0 0px 0;
}

.section-one > div {
  width: calc(411px + 12px + 12px + 2px + 2px);
  /* width:  */
  border: 2px dashed #663300;
  background: #cc6600;

  padding: 12px;
}
